.flex-container {
  display: flex;
  background-color: rgb(190, 190, 231);
}

/* Flex Container 1 */
.flex-container-1 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Flex Container 2 */
.flex-container-2 {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: right;
}

/* Flex Container 3 */
/* use height: 400px; on the container */
.flex-container-3 {
  height: 400px;
  flex-flow: column-reverse wrap;
  align-items: flex-end;
}

/* Flex Container 4 */
.flex-container-4 {
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;
}

/* Flex Container 5 */
.flex-container-5 {
  align-items: center;
}

.flex-container-5 .item1,
.flex-container-5 .item3,
.flex-container-5 .item6 {
  height: 200px;
}

.flex-container-5 .item2,
.flex-container-5 .item8 {
  height: 300px;
}

.flex-container-5 .item4,
.flex-container-5 .item5,
.flex-container-5 .item7 {
  height: 100px;
}

/* Flex Container 6 */
.flex-container-6 {
  height: 300px;
  flex-flow: column wrap;
}

.flex-container-6 .flex-item {
  width: 325px;
}

/* use height: 300px; on the container */
