.header {
  grid-area: header;
}

.article {
  grid-area: article;
}

.section {
  grid-area: section;
}

.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  height: 97vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  grid-template-areas:
    'header'
    'article'
    'article'
    'section'
    'section'
    'section'
    'aside'
    'footer';
}

@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr 3fr 1fr;
    grid-template-areas:
      'header   header'
      'article  aside'
      'section  section'
      'footer   footer';
    }
}

@media (min-width: 993px) {
  .grid-container {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 3fr 1fr;
    grid-template-areas:
      'header   header'
      'aside    article'
      'section  section'
      'footer   footer';
    }
}
